<div class="contact-back-ground">
    <div class="opa">
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="row justify-content-center">
            <h1 class="text-white"><b>Start Your Registration</b></h1>
        </div>
        <div class="row justify-content-center">
            <h3 class="text-white">Choose The Type of user you want to regist with</h3>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="button-container row">
            <div class="col-12 col-sm-12 col-md-6 text-center">
                <button class="btn-1" [routerLink]="['/employee-registration']">
                    Employee
                </button>
            </div>
            <div class="col-12 col-sm-12 col-md-6 text-center">
                <button class="btn-2" [routerLink]="['/employer-registration']">
                    Employer
                </button>
            </div>
        </div>
    </div>
</div>
</div>