<section id="screenshots" class="section screenshots-area ptb_100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- App Screenshot Slider Area -->
                <div class="app-screenshots">
                    <!-- Single Screenshot Item -->
                   
                    <!-- Single Screenshot Item -->
                    <div class="single-screenshot">
                        <img src="assets/img/screenshot_2.svg" alt="">
                        <!-- Screenshots Overlay -->
                        <div class="screenshots-overlay">
                            <a href="assets/img/screenshot_2.svg" data-fancybox="images"><i class="icofont-image"></i></a>
                        </div>
                    </div>
                    <!-- Single Screenshot Item -->
                    <div class="single-screenshot">
                        <img src="assets/img/screenshot_3.svg" alt="">
                        <!-- Screenshots Overlay -->
                        <div class="screenshots-overlay">
                            <a href="assets/img/screenshot_3.svg" data-fancybox="images"><i class="icofont-image"></i></a>
                        </div>
                    </div>
                    <!-- Single Screenshot Item -->
                    <div class="single-screenshot">
                        <img src="assets/img/screenshot_4.svg" alt="">
                        <!-- Screenshots Overlay -->
                        <div class="screenshots-overlay">
                            <a href="assets/img/screenshot_4.svg" data-fancybox="images"><i class="icofont-image"></i></a>
                        </div>
                    </div>
                    <!-- Single Screenshot Item -->
                    <div class="single-screenshot">
                        <img src="assets/img/screenshot_5.svg" alt="">
                        <!-- Screenshots Overlay -->
                        <div class="screenshots-overlay">
                            <a href="assets/img/screenshot_5.svg" data-fancybox="images"><i class="icofont-image"></i></a>
                        </div>
                    </div>
                    <div class="single-screenshot">
                        <img src="assets/img/screenshot_6.svg" alt="">
                        <!-- Screenshots Overlay -->
                        <div class="screenshots-overlay">
                            <a href="assets/img/screenshot_6.svg" data-fancybox="images"><i class="icofont-image"></i></a>
                        </div>
                    </div> 
                    <div class="single-screenshot">
                        <img src="assets/img/screenshot_7.svg" alt="">
                        <!-- Screenshots Overlay -->
                        <div class="screenshots-overlay">
                            <a href="assets/img/screenshot_7.svg" data-fancybox="images"><i class="icofont-image"></i></a>
                        </div>
                    </div> 
                    <div class="single-screenshot">
                        <img src="assets/img/screenshot_8.svg" alt="">
                        <!-- Screenshots Overlay -->
                        <div class="screenshots-overlay">
                            <a href="assets/img/screenshot_8.svg" data-fancybox="images"><i class="icofont-image"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>