
        <app-header></app-header>
        <app-hero-six [settings]="appSettings"></app-hero-six>
        <app-content-five [settings]="appSettings"></app-content-five>
        <!-- <app-content-six></app-content-six> -->
        <app-promo-four [settings]="appSettings"></app-promo-four>
        <!-- <app-counter-two></app-counter-two> -->
        <!-- <app-pricing-two></app-pricing-two> -->
        <!-- <app-review></app-review> -->
        <!-- <app-cta-two></app-cta-two> --> 
        <app-screenshot-one ></app-screenshot-one>
        <app-contact [settings]="appSettings"></app-contact>
        <app-footer-five [settings]="appSettings"></app-footer-five>
   