<div>
    <div class="inner-wrapper d-flex flex-column p-4">
        <a class="align-self-center" routerLink="/">
            <img style="width: 500px;" src="assets/img/logo.png" alt="">
        </a>
        <!-- ***** Login Area Start ***** -->
        <div class="login-area py-5" *ngIf="isEmployeeLogin">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 inner-content text-center">
                        <h2 class="text-primary fw-4">Sign In</h2>
                        <p class="pt-3 pb-5">Don't have an account? <a class="color-primary" style="color:#4782BE" [routerLink]="['/employee-registration']">Create an account</a></p>
                        <form class="inner-form text-left" [formGroup]="employeeLoginForm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Phone Number</label>
                                <div class="input-group">
                                    <div class="input-group-text">{{keyNumber}}</div>
                                    <input type="text" formControlName="phoneNumber" minlength="9" maxlength="9" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter PhoneNumber">
                                </div>
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your username with anyone else.</small> -->
                                <mat-error *ngIf="employeeLoginForm.get('phoneNumber').invalid && employeeLoginForm.get('phoneNumber').touched">
                                    <strong>mobile number is required and must be 9 digits and starts with (79/78/77)</strong>
                                </mat-error>
                            </div>
                            <div class="form-group">
                                <div class="form-label d-flex justify-content-between">
                                    <label for="exampleInputPassword1">Password</label>
                                    <!-- <a class="color-primary" href="#">Forgot Password</a> -->
                                </div>
                                <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password must be at least 6 characters">
                            </div>
                            <!-- <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember me</label>
                            </div> -->
                            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="employeeLogin()">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
        <div class="login-area py-5" *ngIf="!isEmployeeLogin">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 inner-content text-center">
                        <h2 class="text-primary fw-4">Sign In</h2>
                        <p class="pt-3 pb-5">Don't have an account? <a class="color-primary" style="color:#4782BE;" [routerLink]="['/employer-registration']">Create an account</a></p>
                        <form class="inner-form text-left" [formGroup]="employerLoginForm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="text" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <div class="form-label d-flex justify-content-between">
                                    <label for="exampleInputPassword1">Password</label>
                                    <!-- <a class="color-primary" href="#">Forgot Password</a> -->
                                </div>
                                <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password must be at least 6 characters">
                            </div>
                           <!--  <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember me</label>
                            </div> -->
                            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="employerLogin()">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Login Area End ***** -->
        <div class="footer-bottom align-self-center">
            <!-- Copyright Area -->
            <div class="copyright-area border-0 pt-4 pt-md-0">
                <p>Made with <i class="icofont-heart-alt"></i> By <a href="#">Cancrie E-solutions</a></p>
            </div>
        </div>
    </div>
</div>